<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<!-- Включаем поддержку ASP.NET Core -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- ЦЕЛИ (Куда писать) -->
	<targets>

		<!-- 1. ФАЙЛ: Пишем всё. Ротация по 100 МБ. -->
		<target xsi:type="File" name="allfile" fileName="logs/dashboard-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            
				archiveFileName="logs/archives/dashboard-${shortdate}.{#}.log"
				archiveAboveSize="104857600"
				archiveNumbering="Sequence"
				maxArchiveFiles="5"
				concurrentWrites="true"
				keepFileOpen="false"
            />

		<!-- 2. КОНСОЛЬ: Цветная, только важное -->
		<target xsi:type="ColoredConsole" name="lifetimeConsole"
				layout="${MicrosoftConsoleLayout}" >
			<!-- Можно настроить цвета, если стандартные не нравятся -->
		</target>
	</targets>

	<!-- ПРАВИЛА (Что и куда) -->
	<rules>
		<!-- ПРАВИЛО 1: В файл пишем ВСЁ (от Info и выше) -->
		<!-- Это включает EF Core запросы, системные события и т.д. -->
		<logger name="*" minlevel="Info" writeTo="allfile" />

		<!-- ПРАВИЛО 2: В консоль пишем ТОЛЬКО Warning и Error -->
		<!-- Таким образом, SQL запросы (Info) и обычные логи в консоль не попадут -->
		<logger name="*" minlevel="Warn" writeTo="lifetimeConsole" />

		<!-- ПРАВИЛО 3 (Опционально): Если хочешь видеть в консоли старт приложения (Hosting Lifetime), 
         но не хочешь видеть остальной Microsoft мусор -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" />
	</rules>
</nlog>